*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.back{
    width: 100%;
    height: 100vh;
    background-image: url('./images/istockphoto-1354441996-170667a.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem;
}

form {
    margin: auto;
    width: 40%;
}

h1{
    font-size: 2rem;
    color: darkred;
}

#warningTxt {
    display: flex;
    justify-content: center;
    color: darkred;
    font-size: 1.2rem;
    padding-top: 0.6rem;
    font-weight: bold;
}

.form-group input {
    height: 2.5rem;
    width: 100%;
    box-shadow: 0.6px 0.6px #ddd;
    border: rgb(248, 243, 243)  solid 0.6px;
    border-radius: 5px;
    padding-left: 0.5rem;
    margin-top: 1rem;
    font-weight: bolder;
}

.form-group label {
    font-size: 1.6rem;
    color: darkred;
    font-weight: bold;
}


small {
    display: flex;
    justify-content: center;
    color: darkred;
    font-size: 1rem;
    padding-top: 0.5;
}

select {
    width: 100%;
    padding: 0.7rem;
    border: rgb(248, 243, 243)  solid 0.6px;
    border-radius: 5px;
    font-size: 1rem;
    outline: 0;
    color: #72736E;
    font-weight: bold;
   
}

.label {
    margin-top:1rem;
}

.btn {
    width: 100%;
    box-shadow: 0.6px 0.6px #ddd;
    border: rgb(248, 243, 243)  solid 0.6px;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 1rem;
    font-weight: bolder;
    font-size: 1.8rem;
    color: darkred;
    cursor: pointer;
    font-weight: bold;
}

.table {
    display: flex;
    background-color:#ddd;
    margin-top: 1rem;
}

.cabecalho {
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    font-size: 1.6rem;
    padding: 1rem;
    color: darkred;
    font-weight: bold;
}

span {
    width: 20%;
}

.test {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    justify-content: space-evenly;
    font-size: 1.6rem;
    margin-left: 1rem;
}

.book {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
}

.book h2 {
    font-size: 1.4rem;
}


.book button {
    padding: 0.2rem;
    box-shadow: 0.6px 0.6px #ddd;
    border: rgb(248, 243, 243)  solid 0.6px;
    border-radius: 5px;
    font-weight: bolder;
    color: darkred;
    cursor: pointer;
}

.book .read {
    margin-top: 0.5rem;
}

.book .delete {
    margin-top: 0.5rem;
}

/*
.lists .todo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: aliceblue;
    margin-top: 0.5rem;
    padding: 0.5rem;
}

.todo span {
    cursor:pointer;
}
*/